{% load i18n %}

{% block subject %}
  {% blocktrans %}Bottle Nepal - Welcome!{% endblocktrans %}
{% endblock %}

{% block html_body %}
  <p>Dear {{ user }}</p>
  <p>Greetings From Bottle  Nepal !</p>
  <br>
  <p>Thank You for using Bottle nepal please click the link to subscribe your email
      <a href="{{ token }}">Subscribe Email</a>  </p>

  <br>
  <p>Thank You for being the part of Bottle Nepal Team.
      We appreciate your interest and are very glad to have you here wish you all the best for your future Endeavor.</p>
  <p>Takecare and Stay safe.</p>
  <br>
  <p>Regards</p>
  <p>Bottle Nepal Team</p>
{% endblock html_body %}

